.header {
 position: sticky;
 top: 0;
}

.header-display-name {
    float: right;
    font-size: xx-large;
    font-weight: bolder;
}

.header-title {
    float: right;
    font-size: xx-large;
    font-style: italic;
}

.header-avatar {
    float: right;
    width: 200px;
}

h1 {
    font-size: xx-large;
}